.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #E6E6FA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bear-image {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 250px; /* Adjust the width as needed */
  height: auto; /* Automatically adjust the height to maintain the aspect ratio */
}

.App-link {
  color: #61dafb;
}

.button-container {
  display: flex;
  gap: 10px;
  position: relative;
}

.no-button {
  position: absolute;
  transition: left 0.3s ease, top 0.3s ease; /* Add transition for left and top properties */
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(-10deg);
  }
} */
